<!-- MODAL EDITAR VACINA -->
<div th:fragment="editVacina" th:id="modalEditarVacina+${vacina.id}" class="modal fade" data-bs-backdrop="static"
	data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditarVacina" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Editar Vacina</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="row g-3" action="/vacinas/update" method="POST">
					<input th:value="${vacina.id}" type="hidden" id="inputIdVacina" name="id">
					<div class="col-12">
						<label for="inputNomeVacina" class="form-label">Nome da Vacina</label>
						<input th:value="${vacina.nome}" type="text" class="form-control" id="inputNomeVacina"
							placeholder="" name="nome" required>
					</div>
					<div class="col-md-4">
						<input th:checked="${vacina.dose1Confirm}" class="form-check-input" type="checkbox"
							id="dose1ConfirmEdit" name="dose1Confirm" />
						<label for="dose1ConfirmEdit" class="form-label">Primeira dose</label>
						<input th:value="${#dates.format(vacina.dose1, 'yyyy-MM-dd')}" type="date"
							class="form-control" id="inputPrimeiraDose" name="dose1" required>
					</div>
					<div class="col-md-4">
						<input th:checked="${vacina.dose2Confirm}" class="form-check-input" type="checkbox"
							id="dose2ConfirmEdit" name="dose2Confirm" />
						<label for="dose2ConfirmEdit" class="form-label">Segunda dose</label>
						<input th:value="${#dates.format(vacina.dose2, 'yyyy-MM-dd')}" type="date" class="form-control"
							id="inputSegundaDose" name="dose2">
					</div>
					<div class="col-md-4">
						<input th:checked="${vacina.dose3Confirm}" class="form-check-input" type="checkbox"
							id="dose3ConfirmEdit" name="dose3Confirm" />
						<label for="dose3ConfirmEdit" class="form-label">Terceira Dose</label>
						<input th:value="${#dates.format(vacina.dose3, 'yyyy-MM-dd')}" type="date" class="form-control"
							id="inputTerceiraDose" name="dose3">
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Salvar</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- MODAL EDITAR CONSULTA -->
<div th:fragment="editConsulta" th:id="modalEditarConsulta+${consulta.id}" class="modal fade" data-bs-backdrop="static"
	data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditarConsulta" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Editar Consulta</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="row g-3" action="/consultas/update" method="POST">
					<input th:value="${consulta.id}" type="hidden" id="inputIdConsulta" name="id">
					<div class="col-12">
						<label for="inputEspecialidade" class="form-label">Especialidade</label>
						<input th:value="${consulta.especialidade}" type="text" class="form-control"
							id="inputEspecialidade" placeholder="Especialidade" name="especialidade" required>
					</div>
					<div class="col-md-7">
						<label for="inputMedico" class="form-label">Medico</label>
						<input th:value="${consulta.medico}" type="text" class="form-control" id="inputMedico"
							placeholder="Medico" name="medico" required>
					</div>
					<div class="col-md-5">
						<label for="inputDataConsulta" class="form-label">Data Consulta</label>
						<input th:value="${#dates.format(consulta.dataConsulta, 'yyyy-MM-dd')}" type="date"
							class="form-control" id="inputDataConsulta" name="dataConsulta">
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Salvar</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- MODAL EDITAR MEDICAMENTO -->
<div th:fragment="editMedicamento" th:id="modalEditarMedicamento+${medicamento.id}" class="modal fade"
	data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditarMedicamento"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Adicionar Medicamento</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="row g-3 needs-validation" action="/medicamentos/update" method="POST">
					<input th:value="${medicamento.id}" type="hidden" id="inputIdMedicamento" name="id">
					<div class="col-12">
						<label for="inputNomeMedicamento" class="form-label">Nome do medicamento</label>
						<input type="text" class="form-control" id="inputNomeMedicamento" placeholder="" name="nome"
							th:value="${medicamento.nome}" required>
					</div>
					<div class="col-md-6">
						<label for="inputDataInicio" class="form-label">Data de Inicio</label>
						<input type="date" class="form-control" id="inputDataInicio" name="dataInicio"
							th:value="${#dates.format(medicamento.dataInicio, 'yyyy-MM-dd')}" required>
					</div>
					<div class="col-md-6">
						<label for="inputDataFinal" class="form-label">Data final</label>
						<input type="date" th:value="${#dates.format(medicamento.dataTermino, 'yyyy-MM-dd')}"
							class="form-control" id="inputDataFinal" name="dataTermino">
					</div>
					<div class="col-md-12">
						<label for="floatingTextarea2" class="form-label">Observa&ccedil&otildees</label>
						<textarea class="form-control" placeholder="Observa&ccedil&otildees" id="floatingTextarea2"
							style="height: 100px" name="observacoes" maxlength="256"
							th:text="${medicamento.observacoes}" required></textarea>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Salvar</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>