<div th:fragment="imageExame" class="modal fade" th:id="modalVerImagem+${exame.id}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header">
    <h5 class="modal-title" id="tituloImagemExame" th:text="${exame.nome}"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
   </div>
   <div class="modal-body">
    <img th:src="@{${exame.getCaminhoImagem}}" class="img-fluid imageExameZoom" alt="...">
   </div>
  </div>
 </div>
</div>

<div th:fragment="descricaoExame" class="modal fade" th:id="modalDescricao+${exame.id}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <h5 class="modal-title" id="tituloDescricaoExame" th:text="${exame.nome}"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
   </div>
   <div class="modal-body">
    <p class="lh-sm p-2" id="descricaoExame" th:text="${exame.descricao}"/>
   </div>
  </div>
 </div>
</div>