<div th:fragment="imageExame" class="modal fade" th:id="modalVerImagem+${exame.id}" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloImagemExame" th:text="'Exame: ' + ${exame.nome}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img th:src="@{${exame.getCaminhoImagem}}" class="img-fluid imageExameZoom" alt="...">
            </div>
        </div>
    </div>
</div>

<div th:fragment="descricaoExame" class="modal fade" th:id="modalDescricao+${exame.id}" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloDescricaoExame" th:text="'Exame: ' + ${exame.nome}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <label for="floatingTextarea" class="form-label">Descri&ccedil&atildeo</label>
               <textarea class="form-control" placeholder="Descri&ccedil&atildeo" id="floatingTextarea" style="height: 100px; max-height: 300px;"
			  name="observacoes" maxlength="256" th:text="${exame.descricao}" disabled></textarea>
            </div>
        </div>
    </div>
</div>