<nav th:fragment="top-nav-bar" class="fw-bold sb-topnav navbar navbar-expand navbar-light bg-info bg-gradient">
    <!-- Navbar Brand-->
    
    <a class="navbar-brand ps-3 pt-2" th:href="@{/dashboard}">
    <img class="me-1" alt="Logo" src="/assets/img/logo.png" style="width: auto; height: 35px;">
    Di&aacuterio de Sa&uacutede</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-0 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    </div>
    <!-- Navbar-->
    <div class="navbar-nav ms-auto ms-md-0 me-3">
	    <a class="nav-item nav-link me-3 position-relative" id="alerts" th:href="@{/home}">
	    <i class="fas fa-bell fa-lg"></i>
	    <span class="position-absolute top-1 start-100 translate-middle badge rounded-pill badge-notification bg-danger"
	    th:if="${session.nAlertas}" th:text="${session.nAlertas}">
	    99+
	    </span>
	    </a>
	    <a class="nav-link" id="navbarDropdown" th:href="@{/logout}">
	       <i class="fas fa-sign-out-alt fa-fw fa-lg"></i>
	    </a>
    </div>
</nav>