<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Diário de Saúde</title>
       	<link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    </head>
    <body class="sb-nav-fixed">
	<div th:replace="fragments/navigation :: top-nav-bar"></div>
        <div id="layoutSidenav">
		<div th:replace="fragments/sidebar :: side-bar"></div>
            <div id="layoutSidenav_content">
                <main>
                  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			        <h1 class="h2">Exames</h1>
			        <nav aria-label="Paginacao">
					  <ul class="pagination pagination-lg justify-content-center mb-auto">
					    <li th:each="i : ${nPaginas}" class="page-item">
					   		<a class="page-link" th:href="@{/exames/{paginaAtual}(paginaAtual=${i})}" th:text="${i + 1}" th:value="${i}">1</a>
					    </li>
					  </ul>
					</nav>
			        <div class="btn-toolbar mb-2 mb-md-0">
			          <div class="btn-group me-2">
			            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAdicionarExame">Adicionar</button>
			          </div>
			        </div>
			      </div>
                </main>
                <!-- Modal Criar Exame -->
				<div class="modal fade" id="modalAdicionarExame" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAdicionarExame" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="staticBackdropLabel">Adicionar Exame</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      <div class="modal-body">
				       <form class="row g-3 needs-validation" action="/exames" method="POST" enctype="multipart/form-data">
						  <div class="col-12">
						    <label for="inputNomeExame" class="form-label">Nome do Exame</label>
						    <input type="text" class="form-control" id="inputNomeExame" placeholder="" name="nome" required minlength="4">
						  </div>
						  <div class="mb-3">
						  <label for="inputDescricao" class="form-label">Descrição:</label>
						  <textarea class="form-control" maxlength="255" id="inputDescricao" rows="3" name="descricao" required></textarea>
						  </div>
						  <div class="mb-3">
						    <label for="inputDataExame" class="form-label">Data</label>
						    <input type="date" th:max="${maxDate}" class="form-control" id="inputDataExame" name="dtaExame"  required>
						  </div>
						  <div class="mb-3">
						    <label for="inputImagem" class="form-label">Arquivo de imagem</label>
					        <input class="form-control" type="file" id="inputImagem" name="imagem" accept="image/png, image/jpeg" required>
						  </div>
					      <div class="modal-footer">
					        <button type="submit" class="btn btn-primary">Adicionar</button>
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					      </div>
						</form>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- FimModal Criar Exame -->
				<div class="px-4 pb-4">
				<div class="row row-cols-3">
				  <div class="gy-2" th:each="exame : ${exames}">
				  <div class="col">
				  <div class="card">
				  <a class="mx-auto my-2" data-bs-toggle="modal"
							th:attr="data-bs-target='#modalVerImagem'+${exame.id}">
				    <img class="img-thumbnail imageExame" th:src="@{${exame.getCaminhoImagem}}"/>
				  </a>
				    <div class="card-body">
				      <h5 class="card-title" th:text="${exame.nome}"></h5>
				      <div class="d-flex" id="cardContent">
				      <a class="btn-info btn-lg"
								data-bs-toggle="modal" th:attr="data-bs-target='#modalDescricao'+${exame.id}">
					  <i class="fas fa-info-circle iconWhite"></i>
					  </a>
					  <a class="ms-1 btn-lg btn-danger" data-bs-toggle="modal"
								th:attr="data-bs-target='#modalExcluirExame'+${exame.id}">
					  <i class="fas fa-trash-alt" ></i>
					  </a>
					  </div>
				    </div>
					<!--CHAMANDO OS FRAGMENTS -->
				    	<div th:replace="~{fragments/delete-modal :: deleteExame}"></div>
						<div th:replace="~{fragments/exame-modal :: imageExame}"></div>
						<div th:replace="~{fragments/exame-modal :: descricaoExame}"></div>
				    <div class="card-footer">
				      <small class="text-muted">Data do exame: </small>
				      <small class="text-muted float-end" th:text="${#dates.format(exame.dtaExame, 'dd/MM/yyyy')}"></small>
				    </div>
				  </div>
				  </div>
				  </div>
				</div>
				</div>
			<div th:replace="fragments/footer :: footer"></div>
                 </div>
            </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/datatables-simple-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
        <script src="/assets/js/scripts.js"></script>
    </body>
</html>