<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Diário de Saúde</title>
	<link rel="icon" href="/assets/img/logo.png" type="image/x-icon">
	<link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/alerts.css}" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>

<body class="sb-nav-fixed">
	<div th:replace="fragments/navigation :: top-nav-bar"></div>
	<div id="layoutSidenav">
		<div th:replace="fragments/sidebar :: side-bar"></div>
		<div id="layoutSidenav_content">
			<main>
				<h1 class="text-center my-5 pb-3 border-bottom">Alertas</h1>
				<div class="row justify-content-evenly mt-5 alertsMinHeight">
					<div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated border border-warning border-5 rounded-pill pt-5"
						style="visibility: visible;"> <i class="fa fa-user-md medium-icon"></i> <span
							class="counter-number"></span> <span class="counter alt-font"
							th:text="${alertaConsultas.size}">2800</span>
						<p class="counter-title border-bottom border-warning mb-2 pb-2">Próximas Consultas</p>
						<div th:each="consulta : ${alertaConsultas}">
							<h6 class="fw-bold" th:text="${consulta.especialidade} + ' - ' + ${consulta.medico}"></h6>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated border border-info border-5 rounded-pill pt-5"
						style="visibility: visible;"> <i class="fa fa-syringe medium-icon"></i> <span
							class="counter-number"></span> <span class="counter alt-font"
							th:text="${alertaVacinas.size}">2800</span>
						<div class="overflow-auto">
							<p class="counter-title border-bottom border-info mb-2 pb-2">Próximas Vacinas</p>
							<div th:each="vacina : ${alertaVacinas}">
								<h6 class="fw-bold" th:text="${vacina.nome}">
								</h6>
							</div>
						</div>
					</div>
				</div>
			</main>
			<div th:replace="fragments/footer :: footer"></div>
		</div>
	</div>

	<script th:src="@{/assets/js/scripts.js}"></script>
</body>

</html>