<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Diário de Saude</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>

</head>

<body class="bg-light">
    <div class="container pt-4">
        <div class="main-body p-2">
            <div class="row gutters-sm">
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="https://st.depositphotos.com/1052233/2815/v/600/depositphotos_28158459-stock-illustration-male-default-profile-picture.jpg"
                                    alt="Admin" class="rounded-circle" width="150">
                            </div>
                            <div class="d-flex flex-column">
                                <div class="mt-2 align-items-start">
                                    <h4 class="text-center mb-3"
                                        th:text="${session.usuarioValidado.perfil.nome + ' ' + session.usuarioValidado.perfil.sobrenome}">
                                        NomeCompleto</h4>
                                    <p class="mb-1 font-weight-bolder fs-5">idade: <span class="font-weight-bold fs-5"
                                            th:text="${session.usuarioValidado.perfil.getIdade()} + ' anos'"></span>
                                    </p>
                                    <p class="font-weight-bolder mb-1 fs-5">Altura: <span class="fs-5"
                                            th:text="${session.usuarioValidado.perfil.altura}">altura</span></p>
                                    <p class="font-weight-bolder mb-1 fs-5">Sexo: <span class="fs-5"
                                            th:text="${session.usuarioValidado.perfil.sexo}">sexo</span></p>
                                    <p class="font-weight-bolder mb-1 fs-5">Tipo Sanguineo: <span class="fs-5 text-danger"
                                            th:text="${session.usuarioValidado.perfil.tipoSanguineo}">tipoSanguineo</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                    <a class="btn btn-lg btn-secondary" th:href="@{/#areaMedica}">Voltar</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card mb-3 containerExamesMedicos overflow-auto">
                        <div class="card-body">
                            <div class="pb-2">
                                <div class="row row-cols-3">
                                    <div class="gy-3" th:each="exame : ${exames}">
                                        <div class="col">
                                            <div class="card">
                                                <a class="mx-auto my-2" data-bs-toggle="modal"
                                                    th:attr="data-bs-target='#modalVerImagem'+${exame.id}">
                                                    <img class="img-thumbnail imageExameMedico"
                                                        th:src="@{${exame.getCaminhoImagem}}" />
                                                </a>
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between" id="cardContent">
                                                    <h5 class="card-title text-break" th:text="${exame.nome}"></h5>
                                                    <div>
                                                        <a class="btn btn-info" data-bs-toggle="modal"
                                                            th:attr="data-bs-target='#modalDescricao'+${exame.id}">
                                                            <i class="fas fa-info-circle iconWhite"></i>
                                                        </a>
                                                    </div>
                                                    </div>
                                                </div>
                                                <!--CHAMANDO OS FRAGMENTS -->
                                                <div th:replace="~{fragments/exame-modal :: imageExame}"></div>
                                                <div th:replace="~{fragments/exame-modal :: descricaoExame}"></div>
                                                <!-------------------------->
                                                <div class="card-footer">
                                                    <small class="text-muted">Data do exame: </small>
                                                    <small class="text-muted float-end"
                                                        th:text="${#dates.format(exame.dtaExame, 'dd/MM/yyyy')}"></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters-sm">
                        <div class="col-sm-6 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="overflow-auto" style="height: 200px;">
                                        <div>
                                        <table class="table table-borderless">
										  <thead>
										    <tr>
										      <th scope="col">Vacina</th>
										      <th scope="col">1ª Dose</th>
										      <th scope="col">2ª Dose</th>
										      <th scope="col">3ª Dose</th>
										    </tr>
										  </thead>
										  <tbody th:each="vacina : ${vacinas}">
										    <tr>
										      <td th:text="${vacina.nome}"></td>
										      <td class="text-center">
											    <i th:if="${vacina.dose1Confirm}" class="fas fa-check iconGreen"></i>
												<i th:if="${not vacina.dose1Confirm}"
												class="fas fa-times iconRed"></i>
										      </td>
										      <td class="text-center">
											    <i th:if="${vacina.dose2Confirm}" class="mx-auto fas fa-check iconGreen"></i>
												<i th:if="${not vacina.dose2Confirm}"
												class="fas fa-times iconRed"></i>
										      </td>
										      <td class="text-center">
											    <i id="dose3confirm" th:if="${vacina.dose3Confirm}"
												class="fas fa-check iconGreen"></i>
												<i th:if="${not vacina.dose3Confirm}"
												class="fas fa-times iconRed"></i>
										      </td>
										    </tr>
										  </tbody>
										</table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="d-flex align-items-center mb-3">Alergias</h6>
                                    <small>Alergia01</small>
                                    <div class="mb-2" style="height: 5px">
                                    </div>
                                    <small>Alergia02</small>
                                    <div class="mb-2" style="height: 5px">
                                    </div>
                                    <small>Alergia03</small>
                                    <div class="mb-2" style="height: 5px">
                                    </div>
                                    <small>Alergia04</small>
                                    <div class="mb-2" style="height: 5px">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>

</html>